bootstrap.servers=SASL_PLAINTEXT://stg-ageapdsk201.stg.hnd2.bdd.local:9092,SASL_PLAINTEXT://stg-ageapdsk202.stg.hnd2.bdd.local:9092,SASL_PLAINTEXT://stg-ageapdsk203.stg.hnd2.bdd.local:9092
group.id=river-app-datafeeder-itemx
exclude.internal.topics=true
key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
value.deserializer=org.apache.kafka.common.serialization.StringDeserializer
max.poll.records=100
security.protocol=SASL_PLAINTEXT
enable.auto.commit=false
auto.commit.interval.ms=1000
auto.offset.reset=earliest
session.timeout.ms=30000
sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka
sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required renewTicket=true useKeyTab=true storeKey=true serviceName="kafka" keyTab="/keytab/iesuser.keytab" principal="iesuser@STGKAFKA100.GEAP.RAKUTEN.COM";