bootstrap.servers=SASL_PLAINTEXT://stg-geap-kafka501.stg.hnd2.bdd.local:9092,SASL_PLAINTEXT://stg-geap-kafka502.stg.hnd2.bdd.local:9092,SASL_PLAINTEXT://stg-geap-kafka503.stg.hnd2.bdd.local:9092
key.serializer=org.apache.kafka.common.serialization.StringSerializer
value.serializer=org.apache.kafka.common.serialization.StringSerializer
acks=all
batch.size=16384
buffer.memory=33554432
linger.ms=1
request.timeout.ms=2147483647
retry.backoff.ms=1000
retries=2147483647
sasl.mechanism=GSSAPI
security.protocol=SASL_PLAINTEXT
sasl.kerberos.service.name=kafka